/*
 * This is a page-specific css file for contact.html
 */


.submissionfield {
	width: 700px;
	height: 100px;
}
.info {
	width: 700px;

}
.submissionfield, .info {
  width: 50%;
}
#hr1 {
  margin: 0px 15%;
  color: #E5E5E5;
  height: 1px;
  border-bottom: 2px solid #E5E5E5;
}

main {
  background-color: red;
}

section {
  background-color: blue;
}

.text-center {
  background-color: yellow;
}

/* ADJUSTMENTS FOR XS SCREEN SIZE*/
@media screen and (max-width: 768px) {
  .submissionfield, .info {
    width: 90%;
  }

}