/*
 * This is a page-specific css file for contact.html
 */


.submissionfield {
	width: 75%;
	height: 200px;
}
.info {
	width: 75%;
	height: 30px;

}
.submissionfield, .info {
  width: 50%;
}
#hr1 {
  margin: 0px 11.75%;
  color: #E5E5E5;
  height: 1px;
  border-bottom: 2px solid #E5E5E5;

}

.content-text-wrapper {
  padding: 30px;
  box-shadow: 15px 15px #889AD0;
  border: 2px solid black;
  text-align: center;
  width: 768px;
}

main {
  background-color: red;
}

section {
  background-color: blue;
}

.text-center {
  background-color: yellow;
}

/* ADJUSTMENTS FOR XS SCREEN SIZE*/
@media screen and (max-width: 768px) {
  .submissionfield, .info {
    width: 90%;
  }

}