/*
 * This is a GLOBAL css file.
 * Styles in this file are applied SITE-WIDE.
 * Use page-specific css files for page-specific style changes.
 */

#footer {
  background-color: #66CCCC;
  height: 150px;
}
#footer-left {
  background-color: brown;
  height: 100%;
}
#footer-right {
  background-color: chocolate;
  height: 100%;
}

#main-picture {
	background-color: #E0EEEE;
	height: 300px;
}