/*
 * This is a GLOBAL css file.
 * Styles in this file are applied SITE-WIDE.
 * Use page-specific css files for page-specific style changes.
 */

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik-Light.ttf");
}
@font-face {
  font-family: 'Rubik-Medium';
  src: url("../fonts/Rubik-Medium.ttf");
}

body {
  font-family: 'Rubik', Arial, sans-serif;
  font-weight: 300;
}

nav img {
  position: absolute;
  top: 5px;
  height: 40px;
}

.navbar {
  background-color: white;
}

.navbar-default {
  margin-bottom: 0px;

}

.social-media {
  height: 55px;
  background-color: #4990E2;
}

#smimg {
  width: 3%;
}


header {
  height: 400px;
  background-color: ;
  text-align: center;
}
.short-header {
  height: auto;
  background-color: ;
  margin-bottom: 50px;

}

.short-header {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

}
.short-header-bg {
  margin-left: 0px;
  margin-right: 0px;
}

.header-img {
  width: 100%;
}


#footer {
  background-color: #4990E2;
  padding-left: 30px;
  margin-top: 30px;
  padding-bottom: 0px;
}

#footer-left {
  background-color: #4990E2;
  height: 60%;
  padding-left: 2%;
}

#footer-right {
  background-color: #4990E2;
  height: 60%;
}
#footer, .social-media {
  margin-left: 0px;
  margin-right: 0px;
}

h2 {
  color: #AED3FF;
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 2.5px;
}

h3 {
  color: white;
  font-size: 1.25em;
  letter-spacing: 1.75px;
}


section {
  width: 100%;
}
.header-img-wrapper {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

/* ADJUSTMENTS FOR XS SCREEN SIZE*/
@media screen and (max-width: 768px) {
  .short-header {
    margin-bottom: 20px;
  }
}