/*
 * This is a page-specific css file for index.html
 */

html {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 250%;
}

p {
  font-size: 180%;
  letter-spacing: .5px;
}

main {
  background-color: red;
}
.container-fluid {
  padding: 0px;
  padding-bottom: 20px;
}
header {
  height: 350px;
  background-color: blue;
}


#hours-and-location {
  background-color: #E0EEEE;
}

#hr1{
  margin: 0px;
  color: #E5E5E5;
  height: 1px;
  border-bottom: 2px solid #E5E5E5;
}

.header-bg {
  position: absolute;
  z-index: 5;
  background-image: url("../images/home.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: inherit;
}
.header-text {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 300px;
  text-align: left;
  padding-left: 50px;
  padding-top: 75px;
}


#deals-and-featured {
  background-color: #C1F0F6;
  height: 300px;
}
#deals {
  background-color: aqua;
  background-image: url("../images/punchcard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#deals-label{
  width: 60%;
  min-width: 300px;
  
}
/*need to fix image to be responsive, currently it's repeating*/
#featured-drinks {
  background-color: aquamarine;
  background-image: url("../images/strawberrymaking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}

#featured-drinks-label{

  width: 60%;
  min-width: 300px;
}

#friendlystaff, #seatingspace {
  width: 90%;
}

#latehours {
  width: 80%;
}

#howsyourdaygoing {
  width: 85%;
}

/*
#featured-drinks {
  background-color: #ADEAEA;
}
*/
.gallery {
  background-color: #96CDCD;
  width: 100%;
  height: 150%;
  text-align: center;

}

#gallery-label{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20%;
  min-width: 200px;

}

.content-text {
  background-color: lightgray;
  height: auto;
  margin-bottom: 10px;
}

#hours, #hours-js {
  color: white;
  font-size: 24px;
  font-weight: bold;

}

/* 
 * N E W 
 * L A Y O U T
 */
.content-area {
  height: auto;
  background-color: orange;
  margin: 0px;
  padding: 0px;
}

.big-row {
  padding-right: 15px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.small-row {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.content-text-and-image {
  background-color: turquoise;
  margin: 0px;
  /*
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: auto;
  */
}
.content-text-and-image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}



/* height values */
.content-image-container {
  height: 375px;
}
.content-text-container {
  height: 360px;
}
.content-image {
  max-height: 360px;
}


.content-image-container {
  background-color: khaki;
  min-width: 100px;
  padding: 0px;
  overflow: hidden;
}

.content-image {
  /*background-color: darksalmon;*/
  height: 100%;
  overflow: hidden;
}
.content-image img {
  /*width: 99.9%;*/
  height: 100%; 
}
.small-row .content-image img {
  /*
  position: absolute;
  right: 0px;
  */
  float: right;

}

.content-text-container {
  background-color: gold;
  padding: 30px;
  box-shadow: 15px 15px #F095BA;
  border: 2px solid black;
}

.small-row-left {
  padding: 0px;
}
.small-row .content-text-container {
  /*margin-right: 15px;*/
  width: 97%;
  margin-left: 0px;
  margin-right: auto;
}

.content-text {
  background-color: lightgray;
  height: auto;
  margin-bottom: 10px;
}


.content-text-wrapper {
  margin-left: 10px;
}

/* ADJUSTMENTS FOR SM SCREEN SIZE*/
@media screen and (max-width: 992px) {
  main {
    background-color: yellow;
  }
}

/* ADJUSTMENTS FOR XS SCREEN SIZE*/
@media screen and (max-width: 768px) {
  main {
    background-color: green;
  }
  #howsyourdaygoing {
    width: 100%;
  }
  h1 {
    font-size: 200%;
  }
  .content-image-container {
    height: auto;
  }
  .big-row, .small-row {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .content-image img {
    width: 99.9%;
  }
  .small-row .content-text-container {
    width: 100%;
  }
}