.menu-area {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
}

/* left side*/

.fixed-menu {
  position: fixed;

}
.menu-desktop-left {
  float: left;
  margin-top: 0;
  height: auto;
  width: 145%;
  background-color: aqua;
  /*margin-right: 30px; */
}
.menu-jumper-header {
  height: 60px;
  margin-top: 10px;
  border-bottom: 2px solid #DFDFDF;
}
.menu-jumper-header img {
  height: 80%;
}
.menu-jumper {
  height: 60px;
  font-family: 'Karla', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 1px;
  background-color: azure;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}


/* right side*/


.menu-desktop-right {
  float: right;
  margin-top: 60px;
  height: auto;
  background-color: orange;
}

.menu-section {
  height: auto;
  background-color: yellow;
  margin-bottom: 20px;
  padding: 30px;
  border: 2px solid #DFDFDF;
}
.menu-section-title {
  height: auto;
  font-size: 1.63em;
  font-weight: 700;
}
.menu-item {
  background-color: peachpuff;
  height: auto;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu-item-name {
  background-color: pink;
  height: auto;
  padding: 0px;
  font-size: 1.05em;
  font-weight: 700;
}
.menu-item-price {
  background-color: lightyellow;
  height: auto;
  padding: 0px;
  text-align: right;
  font-weight: 700;
}


.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;  
}


/* ADJUSTMENTS FOR MD SCREEN SIZE*/
@media screen and (max-width: 1200px) {
  .menu-area {
    width: 80%;
  }
}


/* ADJUSTMENTS FOR SM SCREEN SIZE*/
@media screen and (max-width: 992px) {
  .menu-area {
    width: 90%;
  }
}

/* ADJUSTMENTS FOR XS SCREEN SIZE*/
@media screen and (max-width: 768px) {
  .menu-area {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
  .menu-desktop-left {
    margin-right: 0px;
  }
  .menu-desktop-left .col-xs-12 {
    padding: 0px;
  }
}