/*
 * This is a page-specific css file for index.html
 */

main {
  background-color: red;
}
section {
  height: 300px;
  margin-bottom: 10px;
}
#hours-and-location {
  background-color: #E0EEEE;
}
#deals-and-featured {
  background-color: #C1F0F6;
  height: 300px;
}
#deals {
  background-color: aqua;
  height: 300px;
  margin-bottom: 10px;
}
#featured-drinks {
  background-color: aquamarine;
  height: 300px;
  margin-bottom: 10px;
}
/*
#featured-drinks {
  background-color: #ADEAEA;
}
*/
#gallery {
  background-color: #96CDCD;
  height: 300px;
}
